# Dependencies
node_modules/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Editors and OS
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db
